@model CarsRentEF.Models.Client


<div class="form-group">
    <label class="control-label col-md-2" for="">Имя Клиента</label>
    <div class="col-md-10">
        <input disabled="" class="form-control" type="text" name="clientname" value="@Model.ФИО" />
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="">Адрес Клиента</label>
    <div class="col-md-10">
        <input disabled="" class="form-control" type="text" name="clientaddress" value="@Model.Адрес" />
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="">Телефон Клиента</label>
    <div class="col-md-10">
        <input disabled="" class="form-control" type="text" name="clientphone" value="@Model.Телефон" />
    </div>
</div>
